@mixin text($size, $heading-color: $foreground) {
    @if $size == 2xl {
        font-weight: $font-black;
        color: $heading-color;
        font-size: $text-xxl;
    }

    @else if $size == xl {
        font-weight: $font-extrabold;
        color: $heading-color;
        font-size: $text-xl;
    }

    @else if $size == lg {
        font-weight: $font-bold;
        color: $heading-color;
        font-size: $text-lg;
    }

    @else if $size == md {
        font-weight: $font-semibold;
        color: $heading-color;
        font-size: $text-md;
    }

    @else if $size == sm {
        font-weight: $font-regular;
        color: $heading-color;
        font-size: $text-sm;
    }

    @else if $size == xs {
        font-weight: $font-light;
        color: $heading-color;
        font-size: $text-xs;
    }
}